<a href="https://colab.research.google.com/github/chelynl/Machine_Learning/blob/main/13_Association_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Association Analysis (Market Basket Analysis)**
- Unsupervised learning
- Data comes in form of transactions (want to learn about relationships hidden from transactions)
- Involves ***antecedent*** and ***consequent***
- Gives us sets of products that are likely to be purchased together
- Strength of association rule is measured by ***support***, ***confidence***, and ***lift***
- Used in retail for coupon marketing, targeted upselling, and product placement
- To perform analysis on any software, you need to specify:
 - `The Basket` = something that identifies the basket of items being purchased simultaneously by a single customer
 - `The items` = whatever column itemizes the transaction of each basket
<br>
<br>
***

### Support
![image.png]()<br>
- measures how often we find instances of this rule in the training data
- how often does this "rule" present itself? (in ___% of transactions)


### Confidence
![image.png]()<br>
- measures what percent of transactions containing A also contain B
- given one buys A, what is the chance they also buy B? ( ___% of A purchases also contained B)

### Lift
![image.png]()<br>
- measures how much more likely are we to buy B given that we also buy A than we are to buy B at random
- want lift values greater than 1
- how much more likely are we to see B purchases with A purchases than see B overall? ( ___ times more likely to see B purchased with A than B purchased at random)

***

## Post-Hoc Takeaways
Product A --> Product B
- B as consequent: determine what can be done to boost its sales
 - product placement
 - optimize upselling
 - coupons for related products
- A as antecedent: determine what other products would be affected by changes to product A
 - discontinuations
 - price changes
 - cannibalization

 ***

## A --> B vs. B --> A
 - same support
 - same lift
 - different confidence
 - no time component (we do NOT say those who buy A will then buy B)

## Method 1: Use when transactions are listed as strings (difficult to convert to one-hot encoding)

The data provided from this example is perfect for method 1.

In [ ]:
!pip install apyori
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
# Import data
df = pd.read_csv('https://raw.githubusercontent.com/chelynl/ML_notes/main/association_rule_learning/Market_Basket_Optimisation.csv?token=AMGO4MGIA4P6Y5MRP3J245TA2EGBU', header=None)
df

                 0                  1   ...       18         19
0            shrimp            almonds  ...  spinach  olive oil
1           burgers          meatballs  ...      NaN        NaN
2           chutney                NaN  ...      NaN        NaN
3            turkey            avocado  ...      NaN        NaN
4     mineral water               milk  ...      NaN        NaN
...             ...                ...  ...      ...        ...
7496         butter         light mayo  ...      NaN        NaN
7497        burgers  frozen vegetables  ...      NaN        NaN
7498        chicken                NaN  ...      NaN        NaN
7499       escalope          green tea  ...      NaN        NaN
7500           eggs    frozen smoothie  ...      NaN        NaN

[7501 rows x 20 columns]

In [ ]:
# Create list to hold transactions (basically each row from df is an element)
transactions = []

# Iterate over each transaction and append all items in that row to the list
for row in range(0, 7501):
  transactions.append([str(df.values[row, col]) for col in range(0, 20)])

In [ ]:
# Train apriori model
# Only looking at 2 items at a time with defined minimum support, confidence, and lift
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [ ]:
# See results
results = list(rules)
results

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]),
 RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569)]),
 RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'ground beef', 'tomato sauce'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'light cream', 'olive oil'}), support=0.003199573390214638, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.1147098515519573)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)])]

In [ ]:
# Function to clean results
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]

    # Get list of tuples with clean results
    return list(zip(lhs, rhs, supports, confidences, lifts))

In [ ]:
# Get clean results df  
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])
resultsinDataFrame

         Left Hand Side Right Hand Side   Support  Confidence      Lift
0           light cream         chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                 pasta        escalope  0.005866    0.372881  4.700812
3         fromage blanc           honey  0.003333    0.245098  5.164271
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
6           light cream       olive oil  0.003200    0.205128  3.114710
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
8                 pasta          shrimp  0.005066    0.322034  4.506672

In [ ]:
# Display results in descending lifts
resultsinDataFrame.nlargest(n = 10, columns = 'Lift')

         Left Hand Side Right Hand Side   Support  Confidence      Lift
3         fromage blanc           honey  0.003333    0.245098  5.164271
0           light cream         chicken  0.004533    0.290598  4.843951
2                 pasta        escalope  0.005866    0.372881  4.700812
8                 pasta          shrimp  0.005066    0.322034  4.506672
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
6           light cream       olive oil  0.003200    0.205128  3.114710

## Method 2: Convert to one-hot encoding

In [ ]:
# Load dependencies
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import math

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import mlxtend as ml

In [ ]:
df.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [ ]:
# See how many transactions we are dealing with
print(df.shape)

(7501, 20)

In [ ]:
"""
The apriori() function requires df to be in one-hot-encoding format.
This function converts the data to the correct format.
"""

def one_hot_format(data):

  # Every item from total transactions
  items = []
  for row in range(data.shape[0]):
    for item in data.iloc[row][~data.iloc[row].isna()]:
      items.append(item.strip())

  # Unique items from total transactions
  unique_items = list(set(items))

  # Create empty dict to hold binary values for each item
  items_dict = {}
  for i in unique_items:
    items_dict[i] = []

  # Iterate over items in each row and add 1 for item and 0 for NaN values
  count = 0
  for row in range(data.shape[0]):
    for col in range(data.shape[1]):
      if data.iloc[row, col] in unique_items:
        items_dict[data.iloc[row, col]].append(1)
    for k in items_dict.keys():
      if len(items_dict[k])==count:
        items_dict[k].append(0)
    count += 1

  # Get final df
  return pd.DataFrame(items_dict)

In [ ]:
new_df = one_hot_format(df)
new_df

      pancakes  shrimp  cream  ...  gums  burgers  grated cheese
0            0       1      0  ...     0        0              0
1            0       0      0  ...     0        1              0
2            0       0      0  ...     0        0              0
3            0       0      0  ...     0        0              0
4            0       0      0  ...     0        0              0
...        ...     ...    ...  ...   ...      ...            ...
7496         0       0      0  ...     0        0              0
7497         0       0      0  ...     0        1              0
7498         0       0      0  ...     0        0              0
7499         0       0      0  ...     0        0              0
7500         0       0      0  ...     0        0              0

[7501 rows x 119 columns]

In [ ]:
# Now that we have one-hot encoding df, we can make frequent item sets that have a support of at least 0.5%
# 0.5% was low enough to get data; arbitrary selection
# use_colnames=True means we will use col names as items
frequent_itemsets = apriori(new_df, min_support=0.003, use_colnames=True)

# Generate rules with associated support, confidence, and lift metrics
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Make new columns for number of items in antecedent and consequent
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequent_len"] = rules["consequents"].apply(lambda x: len(x))

In [ ]:
frequent_itemsets

       support                                           itemsets
0     0.095054                                         (pancakes)
1     0.071457                                           (shrimp)
2     0.065858                                        (olive oil)
3     0.006133                                       (mayonnaise)
4     0.020397                                          (almonds)
...        ...                                                ...
1439  0.004399             (mineral water, eggs, milk, spaghetti)
1440  0.004533  (mineral water, spaghetti, frozen vegetables, ...
1441  0.003066     (mineral water, frozen vegetables, soup, milk)
1442  0.003733     (mineral water, eggs, frozen vegetables, milk)
1443  0.003066     (mineral water, eggs, spaghetti, french fries)

[1444 rows x 2 columns]

In [ ]:
rules

                    antecedents  ... consequent_len
0                    (pancakes)  ...              1
1                      (shrimp)  ...              1
2                    (pancakes)  ...              1
3                   (olive oil)  ...              1
4                    (pancakes)  ...              1
...                         ...  ...            ...
4877  (spaghetti, french fries)  ...              2
4878            (mineral water)  ...              3
4879                     (eggs)  ...              3
4880                (spaghetti)  ...              3
4881             (french fries)  ...              3

[4882 rows x 11 columns]

In [ ]:
# We will only consider rules of 1v1 items
# Limit antecedent and consequent to 1 item each
rules = rules[(rules['antecedent_len']==1) & (rules['consequent_len']==1)]

In [ ]:
rules.nlargest(n=10, columns='lift')

             antecedents          consequents  ...  antecedent_len  consequent_len
778              (honey)      (fromage blanc)  ...               1               1
779      (fromage blanc)              (honey)  ...               1               1
480            (chicken)        (light cream)  ...               1               1
481        (light cream)            (chicken)  ...               1               1
942              (pasta)           (escalope)  ...               1               1
943           (escalope)              (pasta)  ...               1               1
116              (pasta)             (shrimp)  ...               1               1
117             (shrimp)              (pasta)  ...               1               1
218  (whole wheat pasta)          (olive oil)  ...               1               1
219          (olive oil)  (whole wheat pasta)  ...               1               1

[10 rows x 11 columns]